gfdg

In [2]:
#Primeiramente importamos para poder realizar o código
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import seaborn as sns
from emoji import UNICODE_EMOJI
import matplotlib.pyplot as plt

In [3]:
nike = pd.read_excel('tweets_nike_201809042210.xlsx', sheet_name = 0)
nike_treinamento = nike["Treinamento"]
nike.head(2)

,Treinamento,Valor_(R(1)_I(0)),Positivo(1)/Negativo(0)
0,@floydy1983 save big with joyhunt-up to 80% o...,1,1.0
1,rt @virgilableaux: hi. former us navy sailor h...,1,1.0

In [4]:
import string
pontu = string.punctuation


#criação de lista para tirar os tabs e os enters
pont =["\n", "\t"]

#simplificação para pegar o dataframde dos tweets
tweet = nike["Treinamento"]

### limpando os tweets
tweets_limpos = []

for frase in tweet:
    x = ""
    for m in frase:
        if m in UNICODE_EMOJI:
            x = x + " " + m + " "
        elif m in pont:
            x += " "
        elif m not in pontu:
            x += m
    tweets_limpos.append(x)

# criando um dataframe com os tweets limpos
nike_limpinho = pd.DataFrame()
nike_limpinho["tweets"]= tweets_limpos
nike_limpinho["Relevância"] = nike["Valor_(R(1)_I(0))"]

nike_limpinho.head()

                                              tweets  Relevância
0  floydy1983  save big with joyhuntup to 80 off ...           1
1  rt virgilableaux hi former us navy sailor here...           1
2  boycottnike i think a great big thank you nike...           1
3  rt thedonholly if you plan on boycotting nike ...           1
4  rt tonestradamus when they start boycotting ni...           1

In [5]:
## limpar os nomes:
    # tirar tudo que é irrelevante para minha pesquisa e para descobrir a probabilidade como: @,
    # palavras com poucas letras, #, link(site).

tweet_limpos =[]
y = " "
for tweet in nike_limpinho["tweets"]:
    limpao = [] 
    splitei = tweet.split(" ")
    for palavra in splitei:
        if palavra in UNICODE_EMOJI:
            limpao.append(palavra)
        elif len(palavra)> 2 and palavra[0]!="@" and palavra[0]!="#" and palavra[:4] !="http":
            limpao.append(palavra)
    tweet_limpos.append(y.join(limpao))
    
nike_limpao = pd.DataFrame()
nike_limpao["tweets"]= tweet_limpos
nike_limpao["Relevância"] = nike["Valor_(R(1)_I(0))"]

nike_limpao.head()

                                              tweets  Relevância
0  floydy1983 save big with joyhuntup off rpp gre...           1
1  virgilableaux former navy sailor here wonderin...           1
2  boycottnike think great big thank you nike fro...           1
3  thedonholly you plan boycotting nike will disp...           1
4  tonestradamus when they start boycotting nike ...           1

In [6]:
palavras = []

#adicionando todas palavras que foram recolhidas pelo tweet na lista
for e in nike_limpao["tweets"]: 
    y = e.split()
    for m in y:
        if m not in palavras: 
            palavras.append(m)

#adicionar a quantidade de vezes que apareceu tweets relevantes e irrelevantes
Rel = 0
Irrel = 0
for i in range(len(nike_limpao)):
    linha = nike_limpao["tweets"][i].split(" ")
    for m in linha:
        if nike_limpao["Relevância"][i] == 0:
            Irrel +=1
        else:
            Rel +=1

In [7]:
#adicionando pelo menos as palavras uma vez no dicionario para que quando for fazer vezes nunca multiplica por zero

freq_rel = {}
freq_irrel = {}

for palavra in palavras:
    freq_rel[palavra] = 1
    freq_irrel[palavra] = 1

for i in range(len(nike_limpao)):
    palavra = nike_limpao["tweets"][i].split(" ")
    for m in palavra:
        if nike_limpao["Relevância"][i]== 0:
            freq_irrel[m]+=1
        else:
            freq_rel[m]+=1

In [8]:
#probabilidade de ser relevante dada cada palavra

prob_i ={}
prob_r = {}

for palavra in palavras:
    prob_r[palavra]= freq_rel[palavra]/(len(palavras)+Rel)
    prob_i[palavra]= freq_irrel[palavra]/(len(palavras)+Irrel)

In [9]:
irrelevante = 0
relevante = 0

for p in nike_limpao["Relevância"]:
    if p ==0:
        irrelevante+=1
    else:
        relevante +=1
        
pI = irrelevante/len(nike_limpao["Relevância"])
pR = relevante/len(nike_limpao["Relevância"])

In [10]:
teste = pd.read_excel('tweets_nike_201809042210.xlsx', sheet_name = 1)

In [11]:

#criação de lista para tirar os tabs e os enters
pont =["\n", "\t"]

#simplificação para pegar o dataframde dos tweets
tweet = teste["Teste"]

### limpando os tweets
tweets_limpos = []

for frase in tweet:
    x = ""
    for m in frase:
        if m in UNICODE_EMOJI:
            x = x + " " + m + " "
        elif m in pont:
            x += " "
        elif m not in pontu:
            x += m
    tweets_limpos.append(x)

# criando um dataframe com os tweets limpos
nike_limpinho = pd.DataFrame()
nike_limpinho["tweets"]= tweets_limpos
nike_limpinho["Relevância"] = teste["Valor_(R(1)_I(0))"]

nike_limpinho.head()

                                              tweets  Relevância
0  rt jamiesundays nike looking at the white peop...           1
1  trump weighs in on nikes kaepernick deal i thi...           1
2  rt rafaelshimunov im finally cutting out the n...           1
3  dear nike i am not going to boycott you becaus...           1
4  rt lindsaytuten anyone who doesn’t want their ...           1

In [12]:
tweet_limpos =[]
y = " "
for tweet in nike_limpinho["tweets"]:
    limpao = [] 
    splitei = tweet.split(" ")
    for palavra in splitei:
        if palavra in UNICODE_EMOJI:
            limpao.append(palavra)
        elif len(palavra)> 2 and palavra[0]!="@" and palavra[0]!="#" and palavra[:4] !="http":
            limpao.append(palavra)
    tweet_limpos.append(y.join(limpao))
    
nike_limpao = pd.DataFrame()
nike_limpao["tweets"]= tweet_limpos
nike_limpao["Relevância"] = teste["Valor_(R(1)_I(0))"]

nike_limpao.head()

                                              tweets  Relevância
0  jamiesundays nike looking the white people des...           1
1  trump weighs nikes kaepernick deal think its t...           1
2  rafaelshimunov finally cutting out the nike lo...           1
3  dear nike not going boycott you because just s...           1
4  lindsaytuten anyone who doesn’t want their nik...           1

In [64]:
chute = []
a = []
b=[]
for frase in nike_limpao["tweets"]:
    pR_t= 1
    pI_t = 1
    y = frase.split(" ")
    for palavra in y:
        if palavra in prob_i:
            pI_t *= prob_i[palavra]
        else:
            pI_t *= 1/ (len(palavras)+Irrel)
        if palavra in prob_r:
            pR_t*= prob_r[palavra]
        else:
            pR_t *= 1/(len(palavra)+Rel)

    PR =np.log( pR*pR_t)
    PIR =np.log(pI*pI_t)

############
# saber o mínimo e o máximo
    a.append(PR)
    b.append(PIR)
    
#############
    
    if PR >= PIR:
        chute.append(1)
    else:
        chute.append(0)

#nike_limpao ["Chute"]= chute 
#nike_limpao
min(b)

-354.378551182605

In [65]:
um = nike_limpao.loc[(nike_limpao["Relevância"]==1)&(nike_limpao["Chute"]==1), ["Relevância", "Chute"]]
umC = nike_limpao.loc[(nike_limpao["Relevância"]==0)&(nike_limpao["Chute"]==1), ["Relevância", "Chute"]]
zero = nike_limpao.loc[(nike_limpao["Relevância"]==0)&(nike_limpao["Chute"]==0), ["Relevância", "Chute"]]
zeroC = nike_limpao.loc[(nike_limpao["Relevância"]==1)&(nike_limpao["Chute"]==0), ["Relevância", "Chute"]]
    
pos_fal = (len(umC)/len(nike_limpao["Relevância"]))*100
pos_ver = (len(um)/len(nike_limpao["Relevância"]))*100
neg_ver = (len(zero)/len(nike_limpao["Relevância"]))*100
neg_fal= (len(zeroC)/len(nike_limpao["Relevância"]))*100

print("Porcentagem de positivos falsos: {0}%".format(pos_fal))
print("Porcentagem de positivos verdadeiros: {0}%".format(pos_ver))
print("Porcentagem de negativos verdadeiros: {0}%".format(neg_ver))
print("Porcentagem de negativos falsos: {0}%".format(neg_fal))

Porcentagem de positivos falsos: 1.0%
Porcentagem de positivos verdadeiros: 93.5%
Porcentagem de negativos verdadeiros: 2.5%
Porcentagem de negativos falsos: 3.0%

In [77]:
niveis =[]

for frase in nike_limpao["tweets"]:
    pR_t= 1
    pI_t = 1
    y = frase.split(" ")
    for palavra in y:
        if palavra in prob_i:
            pI_t *= prob_i[palavra]
        else:
            pI_t *= 1/ (len(palavras)+Irrel)
        if palavra in prob_r:
            pR_t*= prob_r[palavra]
        else:
            pR_t *= 1/(len(palavra)+Rel)

    PR = pR*pR_t
    PIR = pI*pI_t
    
    
    if PIR-PR<-0.5 and PIR-PR>=-1:
        niveis.append("MR")
    elif PIR-PR>=-0.5 and PIR-PR<0:
        niveis.append("R")
    elif PIR-PR==0:
        niveis.append("N")
    elif PIR-PR>0 and PIR-PR<=0.5:
        niveis.append("I")
    else:
        niveis.append("MI")

In [78]:
nike_limpao["Níveis"] = niveis
nike_limpao

nike_limpao.loc[(nike_limpao["Níveis"]=="MR"), ["Níveis"]]

Empty DataFrame
Columns: [Níveis]
Index: []

## referências
https://machinelearningmastery.com/clean-text-machine-learning-python/