gfdg

In [6]:
#Primeiramente importamos para poder realizar o código
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import seaborn as sns
from emoji import UNICODE_EMOJI
import matplotlib.pyplot as plt

In [7]:
nike = pd.read_excel('tweets_nike_201809042210.xlsx')
nike_treinamento =nike["Treinamento"]
nike.head(2)

,Treinamento,Valor_(R(1)_I(0)),Positivo(1)/Negativo(0)
0,@floydy1983 save big with joyhunt-up to 80% o...,1,1.0
1,rt @virgilableaux: hi. former us navy sailor h...,1,1.0

In [8]:
# tirar virgula
sopa = "  ".join(list(nike.Treinamento))
split_sopa = sopa.split()

In [11]:
import nltk
import string
pontu = string.punctuation

# remove punctuation from each word
#table = str.maketrans('', '', string.punctuation)
#pelado = [w.translate(table) for w in split_sopa]
#print(pelado)

pont =["\n", "\t"]

tweet = nike["Treinamento"]

tweets_limpos = []

for e in tweet:
    x = ""
    for m in e:
        if m in UNICODE_EMOJI:
            x = x + " " + m + " "
        elif m in pont:
            x += " "
        elif m not in pontu:
            x += m
    tweets_limpos.append(x)

nike_limpinho = pd.DataFrame()
nike_limpinho["tweets"]= tweets_limpos
nike_limpinho["Relevância"] = nike["Valor_(R(1)_I(0))"]

In [19]:
## limpar os nomes

tweet_limpos =[]
y = " "
for e in nike_limpinho["tweets"]:
    limpao = [] 
    splitei = e.split(" ")
    for m in splitei:
        if m in UNICODE_EMOJI:
            limpao.append(m)
        elif len(m)> 2 and m[0]!="@" and m[0]!="#" and m[:4] !="http":
            limpao.append(m)
    tweet_limpos.append(y.join(limpao))
    
nike_limpao = pd.DataFrame()
nike_limpao["tweets"]= tweet_limpos
nike_limpao["Relevância"] = nike["Valor_(R(1)_I(0))"]

                                              tweets  Relevância
0  floydy1983 save big with joyhuntup off rpp gre...           1
1  virgilableaux former navy sailor here wonderin...           1
2  boycottnike think great big thank you nike fro...           1
3  thedonholly you plan boycotting nike will disp...           1
4  tonestradamus when they start boycotting nike ...           1

In [27]:
palavras = []

for e in nike_limpao["tweets"]: 
    y = e.split()
    for m in y:
        if m not in palavras: 
            palavras.append(m)
            
Rel = 0
Irrel = 0
for i in range(len(nike_limpao)):
    linha = nike_limpao["tweets"][i].split(" ")
    for m in linha:
        if nike_limpao["Relevância"][i] == 0:
            Irrel +=1
        else:
            Rel +=1

In [28]:
freq_rel = {}
freq_irrel = {}

for palavra in palavras:
    freq_rel[palavra] = 1
    freq_irrel[palavra] = 1

for i in range(len(nike_limpao)):
    palavra = nike_limpao["tweets"][i].split(" ")
    for m in palavra:
        if nike_limpao["Relevância"][i]== 0:
            freq_irrel[m]+=1
        else:
            freq_rel[m]+=1

In [32]:
#prob_rel = probabilidade de ser relevante dado tal palavra
prob_rel={}
prob_irrel={}

for palavra in palavras:
    prob_rel[palavra] = freq_rel[palavra]/(len(palavras)+Rel)
    prob_irrel[palavra] = freq_irrel[palavra]/(len(palavras)+ Irrel)

In [ ]:
#tirar os sinais

#for palavra in split_sopa:
dicio_geral ={}

# criar um dicionario
for palavra in pelado: 
    if palavra in dicio_geral:
        dicio_geral[palavra]+=1
    else:
        dicio_geral[palavra]=1

In [34]:
## probabilidade

irrelevante = 0
relevante = 0
for i in nike_limpao["Relevância"]:
    if i == 0:
        irrelevante+=1
    else: 
        relevante +=1

pI = irrelevante/len(nike_limpao["Relevância"])
pR = relevante/len(nike_limpao["Relevância"])

## referências
https://machinelearningmastery.com/clean-text-machine-learning-python/